 /* Template created by tcse-cms.com | Author: Vitaly V. Chuyakov | URL: http://tcse-cms.com */
 
 .h1,
 h1 {
     font-size: 30px;
 }

/* ============================================================== */
/* Переназначение стилей bootstrap 3 */
/* ============================================================== */
 .modal-header {
     background-color: #555555;
     color: #fff;
 }
 
 .modal-header .modal-title {
     color: #fff;
 }
 
 .modal-footer {
     background-color: #eee;
 }
 
 .shadow-menu {
     background: #fff;
     /* Цвет фона */
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
     /* Параметры тени */
 }
 
 .navbar-inverse .navbar-toggle {
     border-color: #fff;
     color: #fff;
 }
 
 .navbar-toggle {
     border: 0px solid transparent;
 }

 /*плавающее меню сайта с плагином affix*/
 .affix {
     left: 0;
     width: 100%;
     top: 0;
     z-index: 10;
 }

/* ============================================================== */
/* Переназначение стилей DLE */
/* ============================================================== */
 .ui-dialog-buttonset button {
     display: inline-block;
     margin-bottom: 0;
     margin-left: 5px;
     font-weight: normal;
     text-align: center;
     border: 1px solid transparent;
     white-space: nowrap;
     padding: 6px 12px;
     font-size: 14px;
     line-height: 1.42857143;
     border-radius: 4px;
     color: #555555;
     background-color: #ffffff;
     border-color: rgba(0, 0, 0, 0.1);
 }

/* ============================================================== */
/* основной шаблон main.tpl */
/* ============================================================== */ 

 /*логотип сайта*/
 .header-logo {
     margin: 10px 0;
 }

 /*подвал сайта */
 .bg-footer {
     background-color: #e5e5e5;
     padding: 20px;
 }

/* ============================================================== */
/* краткая новость, шаблон shortstory.tpl */
/* ============================================================== */
 .short-news-img {
     width: 100%;
     height: 200px;
     overflow: hidden;
 }
/* ============================================================== */
/* полная новость, шаблон fullstory.tpl */
/* ============================================================== */
 .full-content img {
     max-width: 100%;
 }
 
 .block-rating {
     padding: 10px 0;
 }
 
/* ============================================================== */
/* комментарии, шаблон comments.tpl */ 
/* ============================================================== */
 .smartcomments img {
     max-width: 100%;
 }

 /*облако тегов*/ 
 .tagcloud a {
     line-height: 36px;
     position: relative;
     font-size: 12px;
     margin: 0 5px 5px 5px;
     padding: 8px 7px;
     color: #7a7a7a;
     border: 1px solid #ccc;
     border-radius: 5px;
     text-decoration: none;
 }
 
 .tagcloud a:hover {
     color: #fff;
     background-color: #287ae9;
 }
 
 .clouds_xsmall {
     display: inline-block;
 }
 
 @media (min-width: 320px) and (max-width: 640px) {
     /* если ширина экрана от 320px до 640px */
     .tagcloud2 a {
         line-height: 36px;
         position: relative;
         font-size: 12px;
         margin: 0 5px 5px 5px;
         padding: 8px 7px;
         color: #7a7a7a;
         border: 0px solid #ccc;
         background-color: #ccc;
         color: #000;
         border-radius: 5px;
         text-decoration: none;
     }
     .tagcloud2 a:hover {
         color: #fff;
         background-color: #287ae9;
     }
     .tagcloud2 {
         color: #fff;
     }
 }

/* ============================================================== */
/* Доп-поля профиля юзера в шаблоне userinfo.tpl */
/* ============================================================== */
.profile-xfields {
    font-weight: bold;
}
.profile-xfields input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
}
.profile-xfields textarea {
    width: 100%;
    height: 186px;
    margin-bottom: 20px;
    margin-top: 5px;
}
