<div class="clearfix"></div>

<nav>
	<center>
		<ul class="pagination">
		  	<li>[prev-link]Назад[/prev-link]</li>
		  	<li class="hidden-xs">{pages} </li>
		  	<li>[next-link]Далее[/next-link]</li>
		</ul>
	</center>
</nav>

<div class="clearfix"></div>